.projectItem{
    max-width: 40vw;
    margin: 30px auto;
    box-shadow: black 0px 7px 29px 0px;
    background: #374C63;
    border-radius: 20px;
}

.projectItem:hover {
    box-shadow: 0px 5px 10px #BA6BF3;
    border-radius: 20px;
}

.projectItem > a {
    text-decoration: none;
}

.projectItem > .bi-x-square-fill:hover {
    color: rgba(255, 0, 0, 0.653);
}

.projectItemText {
    text-align: center;
    color: white;
}