.projectInfoContainer {
    background: #334860;
    width: 75%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: 0 5px 40px rgba(240, 46, 170, 0.7); */

}


.projectInfoContainer > h2 {
    text-decoration: underline;
    text-underline-position: under;
}
