.issueListContainer > div{
    height: fit-content;
    text-align: center;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    background: #334860;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.issueListContainer > div > h1{
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto 12px auto;
}

.issueListContainer {
    margin-top: 25px;
}