.issueListContainer > div{
    height: fit-content;
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    padding: 10px 10px;
    background: #DEE2E6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px;
}
