.issueItem {
    background: #FFFFFF;
    width: 100%;
    margin: 0 auto 15px auto;
    border-radius: 7px;
    min-height: 40px;
    height: fit-content;
    padding-left: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px;    
}