.issueListContainer > div{
    height: fit-content;
    text-align: center;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    background: #334860;
    transition: all 1s linear;
}

.issueListContainer {
    margin-top: 25px;
}